* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: skyblue;
  }

  h1 {
    font-size: 10ch;
    text-align: center;
  }

  p {
  font-size: 5ch;
  text-align: center;
  }

  button {
    display: flex;
    margin: 0 auto;
  }

  #container {
    height: 550px;
    width: 550px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    border: 1px solid black;
  }

  .grid {
    flex: 1 0 calc(100% / 16);
    background-color: white;
  }
  
  @media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }