* {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html{
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: skyblue;
  }

  /* .grid {
    width: 40px;
    height: 40px;
    border: 1px solid black;
  } */
  
  @media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }